.previewContainer {
  border-left: 3px solid var(--mantine-color-m-blue-6);
  padding-left: 16px;
}

.conditionItem {
  margin-left: 20px;
  border-left: 3px solid var(--mantine-color-m-blue-6);
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}
