.tab {
  &[data-active] {
    background-color: transparent;
    color: var(--mantine-color-m-blue-6);
    border-bottom: 2px solid var(--mantine-color-m-blue-6);
  }
}

.paper {
  max-height: 80vh;
  overflow-y: auto;
}

.previewTabs {
  min-width: 232px;
}
