.weightPaper {
  min-width: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-right: 1px solid #C6C6C6;
}

.weightInput {
  border: none;
  outline: none;
  background: transparent;
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-sm);
  padding: 0;
  flex: 1;
  min-width: 0;
}
